@import '../variables.scss';

.heading{
    color:$red;
}

.top {
    // border: 1px solid red;

   h1{
        color: $blue;
        font-size: $fSize;
    }

    p{
        font-size: $fSize;
    }


    // button{
    //     @include buttonStyle(
    //         $color:$blue, 
    //         $fontSize: 150px,
    //         $border: 1px solid $blue,
    //         $bR: 16px,
    //         $bColor: $white,
    //         $mHeigth: 50px,
    //         $w: 400px
    //         )
    //     }

}


.buttom {
    border: 1px solid green;
//  button{
// @include buttonStyle(
//     $color:$white, 
//     $fontSize: 50px,
//     $border: none,
//     $bR: 10px,
//     $bColor: $blue,
//     $mHeigth: 50px,
//     $w: 150px
//     )
// }
}