/* Add these styles to your CSS file */
.container{
    // border: 1px solid yellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

.chart {
    width: 100%;

  }

  @media (max-width: 768px) {
    // border: 1px solid rgb(255, 0, 98);
    .chart {
    //   width: 400px;
    width: 250px;
    height: 250px;
    }
  }
  
  @media (min-width: 768px) {
    .chart {
    // border: 1px solid rgb(0, 255, 76);
    //   width: 400px;
    width: 500px;
    // height: 600px;
    }
  }
}
  