.main{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
background-color: #fbfbfb;
margin-top: 8px;
// border: 1px solid green;

.left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

p{
font-size: 14px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0px;
text-align: left;
color: #545F7D;
}

.dropdown {
    width: 80px;
    height: 30px;
  }
  
  .dropdown .ant-select-selection-item,
  .dropdown .ant-select-arrow {
    background-color: rgb(17, 0, 255);
  }
}

.right{
    // border: 1px solid red;
    .arrow{
    color: #213F7D;
    background-color: #dcdfe9;
    padding: 9px;
    border-radius: 4px;
}
}
}

@media only screen and (max-width: 768px){
.main{
.right{

    .arrow{
        padding: 0 20px;
        background-color: white;
    }
}
}
}
@media only screen and (max-width: 600px){
    .main{
flex-wrap:wrap;
justify-content: center;
gap:10px;

    }
}


  