.container{
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    border-bottom: 1px solid #213F7D;
    // padding-bottom: 10px;
    

    h1{
        font-family: Work Sans;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0px;
text-align: left;
color: #213F7D;

    }

    .main{
        // border: 1px solid rgb(0, 26, 255);
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    flex-wrap: wrap;

        // padding-right: 60px;

        .first, .second, .third, .forth, .fifth{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 30px;
            padding: 28px 0;

            .cont{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
            gap: 8px;


            .full, .second h6, .third h6, .forth h6, .fifth h6{
                font-family: Work Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: left;
    color: #545F7D;
    text-transform: uppercase;
    
            }


            .name, .second p, .third p, .forth p, .fifth p{
                font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
    // font-weight: 600;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    color: #545F7D;
    // text-transform: capitalize;
    
            }

            }

        }


//         .first .full, .second h6, .third h6, .forth h6, .fifth h6{
//             font-family: Work Sans;
// font-size: 12px;
// font-weight: 400;
// line-height: 14px;
// letter-spacing: 0px;
// text-align: left;
// color: #545F7D;
// text-transform: uppercase;

//         }

//         .first .name, .second p, .third p, .forth p, .fifth p{
//             font-family: Work Sans;
// font-size: 16px;
// // font-weight: 500;
// font-weight: 600;
// line-height: 19px;
// letter-spacing: 0px;
// text-align: left;
// color: #545F7D;
// // text-transform: capitalize;

//         }
    }
}

@media only screen and (min-width: 1366px){
    .main{
        // border: 1px solid red;
        padding-right: 60px;
    }
}