.main{
    // border: 1px solid rgb(255, 30, 0);
    background-color: #fbfbfb;
    // border: 1px solid white;

    .tab{
    // border: 1px solid rgb(51, 255, 0);
    background-color:white;
    border-radius: 4px;
    // overflow-x: scroll;
    }

    .content{
    // border: 1px solid rgb(0, 4, 255);
        margin-top: 20px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 3px 5px 20px 0px #0000000A;


    }
}


// .top{
//     // border: 1px solid red;
//     height:210px;
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: flex-start;
//     align-items: center;
//     padding:0 30px;


//     // .first, .second, .third{
//     //     // border: 1px solid blue;

//     // }
//     .first{
//         // border: 1px solid blue;
//         display: flex;
//         flex-direction: row;
//         justify-content: center;
//         align-items: center;
//         column-gap: 20px;
//         padding-right: 30px;

//         .inner{
//             display: flex;
//             flex-direction: column;
//             gap: 5px;
//             // align-items: flex-start;
//             // gap: -50px;
//             // justify-content: first baseline;

//             .name{
//                 font-family: Work Sans;
// font-size: 22px;
// font-weight: 500;
// line-height: 26px;
// letter-spacing: 0px;
// text-align: left;
// color: #213F7D;
//             }

// //             h2{
// //                 font-family: Work Sans;
// // font-size: 22px;
// // font-weight: 500;
// // line-height: 26px;
// // letter-spacing: 0px;
// // text-align: left;
// // color: #213F7D;
// //             }


// .others{
//         // align-self: flex-start;
//         justify-self: flex-start;

//         font-family: Work Sans;
// font-size: 14px;
// font-weight: 400;
// line-height: 16px;
// letter-spacing: 0px;
// text-align: left;
// color: #545F7D;

//             }
//         }
//     }

//    .second{
//         // border: 1px solid red;
// display: flex;
// flex-direction: column;
// justify-content: center;
// align-items: center;
// padding:0 30px;
// border-left: 1px solid #E6E7EB;
// max-height: 69px;
// gap: 5px;


// .user{
//     font-family: Work Sans;
// font-size: 14px;
// font-weight: 500;
// line-height: 16px;
// letter-spacing: 0px;
// text-align: left;
// color: #545F7D;
// width: 73px;
// height: 16px;
// }

// // .rating{
// //     border: 1px solid red;
// // }

// .ant-rate-star:not(.ant-rate-star-full):not(.ant-rate-star-half):not(.ant-rate-star-focused) {
//   background-color: white;
// //   border: 1px solid red;

// }

//    } 

//    .third{
//     // // border: 1px solid red;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items:flex-start;
//     padding:0 30px;
//     border-left: 1px solid #E6E7EB;
//     max-height: 69px;
//     gap: 5px;


//     .amount{
//         font-family: Work Sans;
// font-size: 22px;
// font-weight: 500;
// // line-height: 26px;
// letter-spacing: 0px;
// text-align: left;
// color: #213F7D;
// // border: 1px solid red;


//     }

//     .bank{
//         font-family: Work Sans;
//         font-size: 12px;
//         font-weight: 400;
//         line-height: 14px;
//         letter-spacing: 0px;
//         text-align: left;        
// color: #213F7D;
// // border: 1px solid red;

//     }

//    }

// }
