.container{
    // border: 1px solid #f4f4f8;
    // border: 1px solid #f9f9f9;
    // border: 1px solid #f2f2f3;
    // border: 1px solid #f8f8f8;
    padding: 20px 20px;

    box-shadow: 3px 5px 20px 0px #0000000A;

    border: 1px solid red;
    // max-width: 80%;
    margin-top: 40px;

    // overflow-x: auto;
    // max-width: 100%; 


    @media only screen and (max-width:1120px){
    overflow-x: scroll;
    }

    // UserInfo.module.scss

.evenRow {
    // background-color: #f2f2f2;
    background-color: #ffffff;

    font-family: Work Sans;
font-size: 14px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0px;
text-align: left;
// color: #545F7D;
// color: #bfc3ce;
color: #949bae;

  }
  
  .oddRow {
    background-color: #ffffff;

    font-family: Work Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    // color: #545F7D;
color: #949bae;

  }
  
  .columnTitle {
    // border: 1px solid red;
    font-family: Work Sans;
font-size: 12px;
font-weight: 600;
line-height: 14px;
letter-spacing: 0em;
// text-align: left;
display: flex;
text-align: center;
justify-content: start;
align-items: center;
// color:#545F7D;
// color:#d4d7df;
color:#545f7d;
// position: relative;
  }
  
.email{
        // border: 1px solid red;
        font-family: Work Sans;
        font-size: 12px;
        font-weight: 600;
        width: 100px;
        line-height: 14px;
        letter-spacing: 0em;
        // text-align: left;
        display: flex;
        text-align: center;
        justify-content: start;
        align-items: center;
        color:#545F7D;
}
      
}

// =============================================================
/* UserInfo2.module.scss */

.tableContainer {
    /* Add your container styles here */
    // border: 1px solid red;
    overflow-x: scroll;

  }
  
  .table {
    /* Add your table styles here */
  }
  
  .headerRow {
    /* Add your header row styles here */
    border: 11px solid red;
    // font-size: 50px;


  }

  
  .headerCell {
    font-size: 10px;
    color:red;
    /* Add your header cell styles here */
  }
  
  .body {
    border: 11px solid red;

    /* Add your body styles here */
  }
  
  .bodyRow {
    border: 11px solid red;
    color:rgb(0, 255, 13);


    /* Add your body ro
    w styles here */
  }
  
  .bodyCell {
    border: 1px solid rgb(0, 38, 255);

    /* Add your body cell styles here */
  }

  /* UserInfo2.module.scss */

/* Add your existing styles */

@media screen and (max-width: 600px) {
    /* Adjust styles for smaller screens */
    .headerCell, .bodyCell {
      padding: 8px; /* Adjust padding for smaller screens */
    }
  
    .bodyCell {
      font-size: 12px; /* Adjust font size for smaller screens */
    }
  
    /* Hide certain columns on smaller screens */
    .hideOnSmallScreen {
      display: none;
    }
  }
  