.container{
    padding: 20px 20px;
    box-shadow: 3px 5px 20px 0px #0000000A;
    margin-top: 40px;
    // overflow-x: scroll;

.tab{
    color: red
}

.formContainer{
    padding: 30px 20px;
    position: absolute;
    top: 46px;
    left: 0;
    background-color: #FFFFFF;
    z-index: 999;
    width: 210px;
height: 600px;
border-radius: 4px;
border: 1px solid rgba(84, 95, 125, 0.14)
// border: linear-gradient(0deg, rgba(84, 95, 125, 0.14), rgba(84, 95, 125, 0.14)), linear-gradient(0deg, #FFFFFF, #FFFFFF);


}
form{
    border: 1px solid red;

    input{
        height: 40px;
    }

    .selet{
        // color: red;
        height: 40px;
    }
    .label{
        color: red;
    border: 1px solid rgb(0, 81, 255);

    }
}

    .org,.name,.email2,.phone,.date,.status{
        // border: 1px solid red;
        // color: red;
        text-transform: capitalize;

        font-family: Work Sans;
font-size: 14px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0px;
text-align: left;
color: #545F7D;
;
    }

    @media only screen and (max-width:1150px){
        .tab{
            // border: 1px solid green;

            .date,  .phone{
                display: none;
            }
        }
    // overflow-x: scroll;
    }
    @media only screen and (max-width:890px){
        .tab{
            .email2{
                display: none;
            }
        }
    }
    @media only screen and (max-width:571px){
        .tab{
    overflow-x: scroll;

            .name{
                display: none;
            }
        }

        .formContainer{
            width: 170px;
    }
    }

    @media only screen and (max-width:457px){
        .tab{

            .status{
                display: none;
            }
        }
    }

    // UserInfo.module.scss

// .evenRow {
//     background-color: #ffffff;
//     font-family: Work Sans;
// font-size: 14px;
// font-weight: 400;
// line-height: 16px;
// letter-spacing: 0px;
// text-align: left;
// color: #949bae;

//   }
  
//   .oddRow {
//     background-color: #ffffff;
//     font-family: Work Sans;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 16px;
//     letter-spacing: 0px;
//     text-align: left;
// color: #949bae;

//   }
  
  .columnTitle {
    // border: 1px solid red;
    font-family: Work Sans;
font-size: 12px;
font-weight: 600;
line-height: 14px;
letter-spacing: 0em;
display: flex;
text-align: center;
justify-content: flex-start;
align-items: center;
color:#545f7d;
// position: relative;
  }

//   .phoneTitle{
//     border: 1px solid red;
//   }
  
// .email{
//         font-family: Work Sans;
//         font-size: 12px;
//         font-weight: 600;
//         width: 100px;
//         line-height: 14px;
//         letter-spacing: 0em;
//         display: flex;
//         text-align: center;
//         justify-content: start;
//         align-items: center;
//         color:#545F7D;
// }
      
}