/* styles/globals.less or styles/globals.css */
// @import '~antd/dist/antd.css';

// html,
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // border: 20px solid red;
  font-family: 'Work Sans', sans-serif;
}
// body {
//   font-family: 'Your Selected Font Here', sans-serif;
// }
