
// body {
//     padding: 0;
//     margin: 0;
//     box-sizing: border-box;
//   }

.main{
    // padding: 10px;
    height: 100%;
    // height: 100vh;
    width: 100%;
    // border: 1px solid green;
    // background-color: rgb(255, 254, 254);
    background-color: rgb(248, 247, 247);
    // box-shadow:  0   0  2px rgba(0, 0, 0, 0.4);
    // box-shadow: 0 0 2px gray;
    border-top: 1px solid rgba(0, 0, 0, 0.1);


    // padding: 0;
    // margin: 0;
    // box-sizing: border-box;
}
.layout{
    display: flex;
    // height: 100vh;
    // border: 1px solid red;
    // flex-direction: row;
    // gap: 0px;

}
.sidebar{
    width: 283px;
    height: 1574px;
    // min-height: 100%;
    // width: 200px;
    // margin-right: 20px;
    // margin-top: 10rem;
    background-color: white;
    box-shadow: 0 0 2px gray;
    // color: white;
}
.logo h6 {
    font-size: 1.5rem;
    text-align: center;
    margin: 20px 0px;
}
.menu{
    margin-top: 50px;
}
// .menu-item{
//     margin-top: 30px;
// }
.item{
    margin-top: 30px;
}
// .menu-item a {
//     color: white;
//     text-decoration: none;
//     font-size: 1.2rem;
// }
.item a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
// .menu-item i {
//     font-size: 1.2rem;
//     margin: 0 15px;
// }
.item i {
    font-size: 1.2rem;
    margin: 0 15px;
}
.active{
    background-color: white;
    padding: 10px;
}
.active a, .active i {
    color: rgb(51, 1, 1);
}
.content{
    // border: 1px solid yellow;
    width: 100%;
    // margin-top: 66px;
    // margin-left: 28px;

    margin: 66px 32px;

    // padding: 66px 28px;
}
// .header{
//     height: 20vh;
//     margin-bottom: 20px;
//     box-shadow: 0 0 2px gray;
//     background-color: white;
// }
// .headercontent{
//     display: flex;
//     align-items: center;
//     justify-content: flex-end;
//     height: 50px;
//     margin: 0px 15px;
//     font-size: 1.2rem;

// }
// .headercontent i{
//     margin-right: 20px;
// }
// .headercontent a{
//     text-decoration: none;
//     text-transform: uppercase;
//     margin: 0px 10px;
//     color:green;
// }
.body{
    // height: 85vh;
    // margin-bottom: 20px;
    box-shadow: 0 0 2px gray;
    background-color: white;
}