@import 'variables';

.main{
    // border: 1px solid $blue;
    border: 1px solid red;
    width: 283px;
    height: 1574px;
    background-color: white;
    // box-shadow: 0 0 2px gray;
    // color: white;
    // z-index: 10px;

}